.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
  padding-right: 20px;
}

.flag-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag-button {
  /* cursor: pointer; */
}

.flag-left {
  font-size: 30px;
  font-weight: bold;
  padding-top: 5px;
  margin-left: 5px;
}

.button {
  background-color: #999;
  padding: 5px;
  cursor: pointer;
}

.button-label {
  font-size: 20px;
  color: #ddd;
  font-weight: bold;
}

.mine-image {
  width: 30px;
  height: auto;
}
